.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






/* Program */
    /* bg blue */
    .bg-color {
      background-color: #002f6c !important;
    }

    /* Animations */
    .fade-in-left {
      animation: fadeLeft 0.9s ease-in-out;
    }

    .fade-in-right {
      animation: fadeRight 0.9s ease-in-out;
    }

    @keyframes fadeLeft {
      from {
        opacity: 0;
        transform: translateX(-40px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes fadeRight {
      from {
        opacity: 0;
        transform: translateX(40px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    /* Mobile spacing */
    @media (max-width: 768px) {
      .graduate-section h2 {
        font-size: 1.75rem;
      }
    }